table.server
{
    width: 100%;
    border-collapse: collapse;
}
tr.light-row
{
    border: 1px solid #e0e0e0;
    background: #f9f9f9;
}
tr.dark-row
{
    border: 1px solid #e0e0e0;
    background: #f0f0f0;
}
td.server-name
{
    width: 90%;
    padding: 5px 5px 5px 10px;
}
th.server-name
{
    width: 90%;
}
td.server-view
{
    padding: 5px 10px 5px 5px;
}
th.server-view
{
}
